@mixin container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding-inline: 16px;
}

@mixin flex-center {
    display: flex;
    justify-content: center;

    flex-flow: column;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}