.categoryListWrapper {
  width: 100%;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  justify-content: center;
}

.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #1d1d1d;
  padding-bottom: 12px;
  border-radius: 8px;


  &:hover {
    transform: scale(1.05);
  }
}

.categoryCardImage {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.categoryCardName {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  word-break: break-word;
}

.recommendationList {
  display: grid;
  gap: 20px;
  justify-content: center;

  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.sortSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: transparent;
  border: none;
  outline: none;

  color: #fff;
  font-size: 14px;
  font-weight: 500;

  padding: 4px 24px 4px 0;
  cursor: pointer;

  &:hover {
    opacity: 0.85;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  option {
    background-color: #111;
    color: #fff;
  }
}


.sortWrapper {
    margin-bottom: 1em;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    h4 {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}

.searchBox {
    margin-top: 12px;
    width: 100%;

    input {
        width: 100%;
        padding: 12px 14px;
        border-radius: 8px;

        background-color: #111;
        border-color: #999999;
        border-width: 1px;
        color: #fff;

        font-size: 14px;

        &:focus {
            outline: none;
        }
    }
}


@media (max-width: 1024px) {
  .recommendationList {
    gap: 20px;
  }
}

@media (max-width: 572px) {
  .recommendationList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}